<article>
    <h1>{{portugal?.name?.official}}</h1>
    <tr>
        <td><img src="{{ portugal?.flags?.png }}" alt="germany" width="250px"></td>
    </tr>
    
<table>
    <tr>
        <th>Capital:</th>
        <td>{{ portugal?.capital }}</td>
    </tr>
    <tr>
        <th>Idioma:</th>
        <td>{{ portugal?.languages?.por }}</td>
    </tr>
    <tr>
        <th>Tiempo:</th>
        <td>{{ weatherDos?.description }}</td>
    </tr>
    <tr>
        <th>ID:</th>
        <td>{{ weatherDos?.id }}</td>
    </tr>
    <tr>
        <th>Main:</th>
        <td>{{ weatherDos?.main }}</td>
    </tr>
</table>

</article>